<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Запрос для менеджера</h1>
    <form action="" method="POST">
        <div>
            <label for="manager">Менеджер</label>
            <input type="text" id="manager" name="manager"/>
        </div>
        <div>
            <label for="dateStart">Дата</label>
            <input type="text" id="dateStart" name="dateStart"/>
        </div>
        <div>
            <label for="dateEnd">Дата</label>
            <input type="text" id="dateEnd" name="dateEnd"/>
        </div>
        <div>
            <label for="targetAudience">Целевая аудитория</label>
            <input type="text" id="targetAudience" name="targetAudience"/>
        </div>
        <div>
            <label for="order">Клиент согласился на заказ?</label>
            <input type="text" id="order" name="order"/>
        </div>
        <div>
            <label for="done">Заказ завершен успешно?</label>
            <input type="text" id="done" name="done"/>
        </div>

        <button type="submit">Submit</button>
    </form>
</body>
</html>




<!-- <form action="" method="POST">
    <div>
        <label for="manager">Менеджер</label>
        <select name="manager">
            <option value="Аня">Аня</option>
            <option value="Денис">Денис</option>
            <option value="Лиля">Лиля</option>
            <option value="Альона">Альона</option>
            <option value="Рома">Рома</option>
            <option value="Влад">Влад</option>
          </select>
    </div>
    <div>
        <label for="targetAudience">Целевая аудитория</label>
        <select name="targetAudience">
            <option value="Да">Да</option>
            <option value="Нет">Нет</option>
          </select>
    </div>
    <div>
        <label for="order">Клиент согласился на заказ?</label>
        <select name="order">
            <option value="Да">Да</option>
            <option value="Нет">Нет</option>
          </select>
    </div>
    <div>
        <label for="done">Заказ завершен успешно?</label>
        <select name="done">
            <option value="Да">Да</option>
            <option value="Нет">Нет</option>
          </select>
    </div>
    <button type="submit">Submit</button> -->